<div class="sign-wrapper">
	<div class="sign-head">
		<span ng-bind="signLabelInfo.signTitle"></span>
	</div>
	<div class="sign-btn">
		<div class="row">
			<div class="col">
				<button ng-click="getCurrentPosition()">获取当前位置</button>
			</div>
			<div class="col">
				<button ng-click="sign()">签到</button>
			</div>
		</div>
	</div>
	<div class="sign-content">
		<div class="row">
			<div class="col">
				<span ng-bind="signLabelInfo.project"></span>
				<span>
					<select>
						<option value="{{pro.code}}" ng-repeat="pro in projects">{{pro.name}}</option>
					</select>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<span ng-bind="signLabelInfo.address"></span>
				<span ng-bind="address.address"></span>
			</div>
		</div>
	</div>
</div>
<div class="sign-map-wrapper">
	<div id="sign-map"></div>
	<div class="mask" ng-show="mask.maskShow">
		<div class="mask-info">正在获取当前位置信息。。。</div>
	</div>
</div>

<style>
	.sign-wrapper {
	    height: 24%;
	    overflow: hidden;
	    border-right-style: groove;
	}
	.sign-wrapper .sign-head{
		padding-left: 5px;
		height: 30px;
		line-height: 30px;
		background: #F0F0F0;
		color: #A3A337;
	}
	.sign-wrapper .row{
		display: flex;
		margin-top: 5px;
	}
	.sign-wrapper .row .col{
		flex: 1;
	}
	.sign-wrapper .row .col span{
		display: inline-block;
		margin-left: 18px;
	}

	.sign-wrapper .row .col select{
		width: 190px;
	}

	.sign-wrapper .row .col button{
		display: block;
		width: 80%;
		margin: 0 auto;
		background: lightblue;
		box-shadow: 1px 1px 0 lightgray;
	}
	.sign-map-wrapper{
		position: relative;
		height: 76%;
	}
	.sign-map-wrapper #sign-map {
	    height: 100%;
	}

	.sign-map-wrapper .mask{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(211, 211, 211, 0.6);
	}

	.sign-map-wrapper .mask .mask-info{
		position: absolute;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: transparent;
	}
	/*清除百度地图logo*/
	.anchorBL{
		display:none;
	}
</style>